<!--routes/library-->
<div id="subnav" class="tsk-subnav-short">
	<button type="button" class="btn tsk-subnav-button" data-title="Add Selection" bs-tooltip>
		<i class="fa fa-plus-square"></i>
	</button>
	<button type="button" class="btn tsk-subnav-button" data-title="Ignore" bs-tooltip ng-click="ignoreSelected()">
		<i class="fa fa-minus-square"></i>
	</button>
	<button type="button" class="btn tsk-subnav-button" data-title="Delete" bs-tooltip ng-click="deleteSelected()">
		<i class="fa fa-times-circle"></i>
	</button>

	<div class="tsk-subnav-vdiv"></div>

	<button type="button" class="btn tsk-subnav-button" data-title="Open Local" bs-tooltip ng-click="openLocal()">
		<i class="fa fa-folder-open-o"></i>
	</button>
	<button type="button" class="btn tsk-subnav-button" data-title="Run Import" bs-tooltip>
		<i class="fa fa-bolt"></i>
	</button>

	<div class="tsk-subnav-vdiv"></div>

	<button type="button" class="btn tsk-subnav-button" data-title="Framecap" bs-tooltip>
		<i class="fa fa-picture-o"></i>
	</button>
	<button type="button" class="btn tsk-subnav-button" data-title="View Properties" bs-tooltip>
		<i class="fa fa-commenting-o"></i>
	</button>
	<button type="button" class="btn tsk-subnav-button" data-title="Overrides" bs-tooltip>
		<i class="fa fa-tags"></i>
	</button>

	<div class="tsk-subnav-vdiv"></div>

	<button type="button" class="btn tsk-subnav-button" data-title="Configure Scrapers" bs-tooltip>
		<i class="fa fa-wrench"></i>
	</button>
	<button id="btn-refresh" type="button" class="btn tsk-subnav-button" data-title="Refresh" bs-tooltip ng-click="refresh()">
		<i class="fa fa-refresh"></i>
	</button>
	<div id="subnavStatus" class="tsk-subnav-status">
		<span class="tsk-subnav-status-icon" ng-class="scanStatus.iconClassList"></span>
		<span class="tsk-subnav-status-title" ng-bind="scanStatus.title"></span>
		<span class="tsk-subnav-status-content" ng-bind="scanStatus.content"></span>
	</div>
</div>
<div id="clientarea">
	<div id="sidebar" class="tsk-sidebar" ng-click="setFocus('sidebar')">
		<div id="lib-tree">
		</div>
	</div>
	<div id="rport" class="tsk-rview" ng-click="setFocus('rport')">
		<form name="ftab-selector">
		<table class="tsk-ftab table">
			<thead>
				<tr>
					<td>
						<input title="Select All/None" type="checkbox" name="file-all" id="file-all" ng-click="flist_toggle_all($event)" />
						Filename
					</td>
					<td>Season</td>
					<td>Episode</td>
					<td>Special</td>
				</tr>
			</thead>
			<tbody id="flist-tab">
				<tr class="fentry" ng-repeat="tf in flist" ng-click="flist_select($event, tf._id)" id="row-{{tf._id}}">
					<td>
						<input type="checkbox" name="file-{{tf._id}}" id="file-{{tf._id}}" />
						<i class="fa ricon" ng-class="tf.__icon"></i>
						{{tf.location[tf.default_location].fpath.file}}
					</td>
					<td>{{tf.fparse.season}}</td>
					<td>{{tf.fparse.episode}}</td>
					<td>{{tf.fparse.special}}</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
</div>
<input id="openDialog" type="file" />
<!--//routes/library-->