<!--routes/settings/default -->
<div class="tsk-setbox">
    <div class="tsk-setbox-header">
        <h4><span class="fa fa-2x fa-gear tsk-setbox-header-icon"></span> Settings</h4>
    </div>
    <div class="tsk-setbox-body">
        <span class="fa fa-arrow-left"></span> Use the navbar on the left to choose a group of settings to configure.
        <br/><br/>

        <blockquote>
            <span class="fa fa-info-circle"></span> <b>Tip</b><br/>
            If you wish this machine to automatically pull or sync settings from a master node,
            this can be configured under the Discovery settings.
        </blockquote>
    </div>
    <div class="tsk-setbox-footer">
    </div>
</div>
<!--//routes/settings/default-->